
src
data
git.sh
Makefile
note.txt

.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv
*.zip

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*

.DS_Store